/* Menüitem der Angebote/Anzeigen-Navigation */
.button {
	text-align: center;
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	margin: 0;
	padding: 5px 3px;
	border: 1px solid black;
	background-color: #103D50;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}


/* Der Hauptinhaltsbereich, in welchem der Hauptteil der Seite (unterhalb des Menüs) ist */
#content {
	padding: 5px;
}


/* Bild und Text müssen in zwei Entryparts geteilt werden, damit sie schön nebeneinander sind*/
.content-part {
	display: inline-block;
	font-weight: bold;
}

.content-part img {
	float: left;
	width: 150px;
	border: 1px solid black;
}

.content-detail {
	font-size: 1em;
	font-weight: bold;
}

.content-detail p{
	font-size: 1em;
	font-weight: bold;
}

#createOffer {
	text-align: center;
}

#send {
	text-align: center;
}

.jumbotron {
	background-color: #eee;
	height: 100%;
}
